@keyframes Fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.Employee {
  animation: Fade 1s;
  color: #4f76a3;
  margin: 15px;
  padding-bottom: 5px;
  position: relative;
}

.Employee span {
  position: absolute;
  opacity: 0;
  width:100px;
  transition: all 1s;
  left:calc(50% - px);
  font-size:12px;
  border: 0px;
  background: none;
  color: #7599c2;
  cursor: pointer;
}

.EmployeeName {
  transition: all .5s;
  padding-bottom:4px;
  text-align: left;
}

.EmployeeName:hover {
  color: #7599c2;
}

.Employee span:hover,
.EmployeeName:hover + span {
  opacity: 1;
}

.EmployeeName {
  cursor: pointer;
}